<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- Public URL the API binds to. Use "+" to listen on all interfaces (required for Cloudflare to reach it). -->
    <add key="Host.Url" value="http://+:80/" />
    <add key="UnilabTheBest.Host.Path" value="C:\Program Files (x86)\Unilab_C8DllNet\UnilabTheBest_Host.exe" />
    <add key="UnilabTheBest.Pool.MaxPoolSize" value="9" />
    <add key="Unilab.Autofac.Config" value="ForDesktop" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="OnLineServerProvider" value="http://localhost:57301" />
    <add key="Server" value="http://localhost:57301/" />
    <add key="InstallationFolderPath" value="C:\Program Files (x86)\Unilab_C8DllNet\Database\" />
    <add key="ClientSettingsProvider.DatabaseFormat" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="Coils.RootPath" value="C:\Program Files (x86)\Unilab_C8DllNet" />
  </appSettings>
  <connectionStrings>
    <add name="Termokar" connectionString="metadata=res://*/Termokar.csdl|res://*/Termokar.ssdl|res://*/Termokar.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Program Files (x86)\Unilab_C8DllNet\Database\Termokar.db3&quot;'" providerName="System.Data.EntityClient" />
    <add name="mainEntities" connectionString="metadata=res://*/CoilsDataModel.csdl|res://*/CoilsDataModel.ssdl|res://*/CoilsDataModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Program Files (x86)\Unilab_C8DllNet\Database\Coils.db3&quot;'" providerName="System.Data.EntityClient" />
    <add name="UnitMeasure" connectionString="metadata=res://*/UnitMeasureDataModel.csdl|res://*/UnitMeasureDataModel.ssdl|res://*/UnitMeasureDataModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Program Files (x86)\Unilab_C8DllNet\Database\Measures.db3&quot;'" providerName="System.Data.EntityClient" />
    <add name="FluidsEntities" connectionString="metadata=res://*/FluidsDataModel.csdl|res://*/FluidsDataModel.ssdl|res://*/FluidsDataModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Program Files (x86)\Unilab_C8DllNet\Database\C6Fluids.db3&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
